@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face { 
  font-family: "Museo Moderno"; 
  src: url("../../public/fonts/museoModerno.ttf"); 
}

body {
  color: rgb(var(--foreground-rgb));
  /* @apply bg-blue-500; */
}

p {
  @apply: pb-2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#about p {
  @apply mb-4;
}

.animate-enlarge {
  @apply hover:scale-105 transition cursor-pointer;
}
.animate-lightning {
  animation: lightning 10s linear infinite;
  @apply bg-white/50;
}
@keyframes lightning {
  0%, 20% { opacity: 0; }
  20.5%, 21.5% { opacity: 1; }
  21%, 22.5% { opacity: 0; }
  50% { opacity: 0; }
  50.5% { opacity: 1; }
  51%, 90% { opacity: 0; }
  90% { opacity: 0; }
  90.25%, 91% { opacity: 1; }
  90.5%, 91.5% { opacity: 0; }
  100% { opacity: 0; } 
}

.animate-skychange {
  animation: skyChange 20s ease-in-out infinite;
}
@keyframes skyChange {
  15%, 50% {
    background-color: #3b82f6;
    background-image: linear-gradient(#3b82f6, #93c5fd);
  }
  0%, 65%, 100% {
    background-color: #1e293b;
    background-image: linear-gradient(#1e293b, #64748b);
  }
}


/* Special classes */

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.highlight {
  @apply md:hover:text-yellow-300 md:hover:scale-105 transition cursor-pointer;
}
.longTitle {
  @apply text-[3rem] md:text-[6rem];
}
.project-text {
  @apply leading-7;
}
.project-text li:not(:last-child) {
  @apply mb-2 pb-2 border-b border-b-white/50;
}
.project-text p {
  @apply mb-3;
}
.project-text .soon {
  @apply opacity-20;
}
.section {
  @apply  flex flex-col items-center gap-8;
}
.shortTitle {
  @apply text-[4rem] md:text-[8rem];
}
.tooltip-container .tooltip {
  visibility: hidden;
  cursor: default;
}
.tooltip-container:hover .tooltip {
  visibility: visible;
}
.wire-box {
  @apply border-white border rounded-lg p-1;
}
.wire-button {
  @apply rounded-full hover:bg-white/25 py-1 px-3;
}

@media (min-width: 768px) {
  .bg-pattern-zigzag3d {
    @apply bg-transparent;
    background-image: radial-gradient(#ffffff55 0.5px, rgba(229,229,247,0) 0.5px);
    background-size: 10px 10px;
  }
}
